<h2>Cadastrar Novo Curso</h2>
<form method="post">
  Nome: <input type="text" name="nome"><br>
  Área: <input type="text" name="area"><br>
  Descrição: <input type="text" name="descricao"><br>
  Carga Horária: <input type="text" name="carga"><br>
  Nível:
  <select name="nivel">
    <option value="Iniciante">Iniciante</option>
    <option value="Intermediário">Intermediário</option>
    <option value="Avançado">Avançado</option>
  </select><br>
  <input type="submit" value="Cadastrar">
</form>
<a href="/cursos">Voltar</a>
